 h1 {
    text-align: center;
    font-size: 1em;
    color: #009;
    margin-bottom: .3em;
  }

 /* 
table {
    margin: .3em;
    width: 290px;
  }
  
  th {
    padding: .2em;
    background-color: #ffc;
  }
  
  td {
    padding-left: .5em;
    padding-right: .5em;
    border: 1px solid #900;
    background-color: #ffc;
  }
  
  #trHeader {
    text-decoration: underline;
    color: #900;
  }
  
  .centerCell {
    text-align: center;
  } */

  /*  */
*{
  margin: 0;
  padding: 0;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(6, 6, 214, 0), rgba(6,6,214,0)), url(images/HHS_Soccer_Team.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.site_name{
  margin-bottom: .3em;
  text-align: left;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 200px;

}