 h1{
    position: relative;
    margin-bottom: .3em;
    text-align: left;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 150px;
    padding-bottom: 25px;
    
  }

h2 {
  position: relative;
  margin-bottom: .3em;
  text-align: left;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  padding-bottom: 25px;
}

p {
  position:relative;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  padding-bottom: 25px;
}

#top-heading{
  padding-top: 50px;
}

*{
  margin: 0;
  padding: 0;
}



.header{
  min-height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(6, 6, 214, 0.25), rgba(6,6,214,0.25)), url('images/HHS_Soccer_Team.png');
  background-position: center;
  background-size: cover;
  position: relative;
}

.roster-header {
  min-height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(6, 6, 214, 0.25), rgba(6,6,214,0.25)), url('images/Roster_Image.png');
  background-position: center;
  background-size: cover;
  position: relative;
}

.schedule-header {
  min-height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(6, 6, 214, 0.25), rgba(6,6,214,0.25)), url('images/Huddle.png');
  background-position: center;
  background-size: cover;
  position: relative;
}

.highlights-header {
  min-height: 80vh;
  width: 100%;
  background-image: linear-gradient(rgba(6, 6, 214, 0.25), rgba(6,6,214,0.25)), url('images/Highlights.png');
  background-position: center;
  background-size: cover;
  position: relative;
}
.roster-list table {
  width: 100%;
}

.roster-list th{
  color: #000;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10%, 6%;
  align-items: center;
}

.nav-links{
  flex: 1;
  text-align: center;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  padding-top: 24px;
}

.nav-links ul li a{
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-decoration: none;
  border: 2px solid #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
}

.nav-links:hover a {
  border: 2px solid #fff;
  background:rgba(6, 6, 214, 0.5);
  transition: 0.5s;
}

.regular-heading {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-decoration: underline;

}
