h1 {
    text-align: center;
    color: black;
    margin-bottom: .3em;
    
    width: auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: 150px;
    border: 10px solid black;
    /* padding: 25px; */
    

}

.center_container {
    text-align: center;
}

.equation_buttons button {
    text-align: center;
    background-color: #555555;
    border: none;
    width: 300px;
    height: auto;
    color: white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 25px; 
    margin-right: 10px;
}

.solve-button {
    text-align: center;
    background-color: lightgreen;
    border: none;
    width: 300px;
    height: auto;
    color: white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 25px; 
    margin-top: 10px;
}

.inputs {
    text-align: center;
    border: 3px lightgreen;
    padding: 50px 50px;
}